@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    @apply bg-neutral-200 text-slate-800 transition-all
}

.wrapper {
    padding: 5rem;
    position: relative
}

.w-fit{
    width: fit-content;
}

.loading {
    filter: blur(3px);
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    filter: none !important;
}

td, th {
    @apply py-1 border-b border-b-neutral-200 align-middle;
}

table {
    @apply text-slate-900;
}

select {
    @apply p-2 rounded-md;
}