{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<div id="turbo-user-table" >
    {% include "ui/flash/flash.html.twig" %}
    <div class="wrapper relative" data-controller="table">
        {% include "ui/loader/square.html.twig" %}
        {% include "ui/table/pagination.html.twig" with {allowedTableSize, currentPage, size, nbPage} %}
        {% include "ui/table/table.html.twig" with {tableColumns, currentPage, users, size, nbPage} %}
        {% include "ui/table/pagination.html.twig" with {allowedTableSize, currentPage, size, nbPage} %}
    </div>
</div>


{% endblock %}